@import url('https://fonts.googleapis.com/css?family=Sen&display=swap'); /*font-family: 'Sen', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Sen&display=swap'); /*font-family: 'Nanum Gothic', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
body{
  background-color: #91c1ff;
}

.container{  
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.backgroundIn{
  background-color: #ffd769;
}

.content{
  width: 30%;
  height: 63%;
  box-shadow: inset 0px 0px 15px #acabab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.login{
  align-self: center;
  font-size: 30px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-bottom: 20px;
  margin-top: 5px ;
}

#apptitle{
  color: #2c363f;
  margin-top: 35px;
  margin-bottom: 40px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bolder;
  font-size: 70px;
}

.error_message{
  display: block;
  margin-top: 5px;
  font-size: 15px;
  color: #960200;
  font-family: 'Sen', sans-serif;
}

label{
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
}

#sex{
  font-size: 25px;
  font-family: 'Nanum Gothic', sans-serif;
  margin-right: 30px;
}

.suinput{
  margin: 10px; 
  width: 50%;
  height: 30px;
  border: none;
  flex-direction: column;
  justify-content: start;
  padding: 10px;
}

.suintext{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 24px;
    height: inherit;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    outline: none;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2c363f;
  opacity: 0.6; /* Firefox */
}

.surinput{
  margin: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#loginBtn{
  margin: 20px;
  width: 150px;
  height: 40px;
  border: none;
  font-weight: bolder;
  border-radius: 20px;
  font-size: 15px;
  color: #2c363f;
  box-shadow: inset 0px 0px 10px #888888;
  background-color: #91c1ff;
  cursor: pointer;
}

#already{
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 10px;
}

