@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /*font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); /*font-family: 'Quicksand', sans-serif;*/

body{
    background-color: #91c1ff;
}

.yellowFront{
    background-color: #ffd769;
}

#welcome-user{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin-top: 240px;
    margin-left: 155px;  
    border: none;
    /* box-shadow: 0 0 10px #888888; */
    font-family: 'Roboto', sans-serif;
}

#dpDivWelcome{
    height: 300px;
    width: 300px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#dpWelcome{
    max-width:400px;
    max-height: 400px;    
}

#welcome-text{
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}
/*POPUP FORM--------------------------------------------*/
#popupform{
    position: absolute;
    display: none;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 240px;
    margin-left: 30px;  
    /* border: 1px solid #000000; */
    box-shadow: 0 0 10px #888888;
    font-family: 'Roboto', sans-serif;
}

#pfcontent{
    width: inherit;
    height: inherit;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#options{
    height: 100%;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.switch{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: black;
}


#firstOp, #cancelbtn{
    grid-column: 1;
    cursor: pointer;
}

#secondOp, #submitbtn{
    grid-column: 2;
    cursor: pointer;
}

.form{
    margin-top: 75px;
    position: absolute;
    height: 270px;
    grid-row: 2;
}

#firstForm{
    /* background-color: blue; */
    display: block;
}

#secondForm{
    /* background-color: brown; */
    display: none;
}

#secondFormContent{
    height: 270px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#firstFormContent{
    height: 270px;
    width: 600px;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.twoinput{
    margin: 40px;
}

.oneinput{
    margin: 30px;
}

#cancelsubmit{
    height: 100%;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#dpDiv{
    height: 150px;
    width: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#picUpload{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
#scFirstForm{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dp{
    max-width: 150px;
    max-height: 150px;    
}

#file{
    margin-top: 20px;
}

#uploadBtn{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid #000000;
}

/*CLOSE POPUP FORM--------------------------------------*/

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    width: 1300px;
    height: 95%;
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 6fr;
    box-shadow: 5px 10px 18px #888888;
}
/*CHAT AREA ----------------------------------------------------------*/
.chat-area{
    
    width: 100%;
    height: 100%;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-rows: 1fr 14fr 1fr;
}

#messages-header{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    grid-row: 1;
    /* background-color: #e6e6fa; */
    /* border-bottom: 1px solid black; */
}

#onlinestate{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    /* background-color: lawngreen; */
    align-self: flex-start;
    margin-top: 15px;
}

#chatuser{
    margin-left: 15px;
    font-size: 16px;
    display: none;
}

#chatimg{
    display: none;
}
#messages-area{
    grid-row: 2;
    
    /* border-bottom: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    height: 775.55px;
}

 

.message-send-div{
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#message-input-container{
    height: 15px;
    background-color: whitesmoke;
    font-size: 12px;
    width: 800px;
    border: none;
    border-radius: 20px;
    position: relative;
    left: 30px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#message-input{
    height: inherit;
    width: inherit;
    background-color: whitesmoke;
    border: none;
    outline: none;
    display: none;
}

#msg-send-btn{
    width: 60px;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    color: #2c363f;
    font-weight: 1200;
    margin-right: 30px;
    background-color: #91c1ff;
    display: none;
    cursor: pointer;
}

.mdiv{
    width: fit-content;
    height: fit-content;
    max-width: 500px;
    background-color: #cec2ff;
    box-shadow: 5px 5px 20px #cf8ba9 inset;
    padding: 0px 20px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif; 
    /* color: #352208; */
    color: #481d24;
}

.senderm{
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    align-self: flex-end;
}

.receiverm{
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    align-self: flex-start;
}

/*CLOSE CHAT AREA*/
/* SIDE PANE ---------------------------------------*/

.side-pane{
    
    /* border-radius: 8px 0px 0px 5px; */
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    /* border-left: 1px solid #666666;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; */
    display: flex;
    flex-direction: column;
}

.side-pane-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    box-shadow: 0px 60px 60px -65px #111;
    z-index: 2;
    /* position: absolute; */
    height: 70px;
    width: inherit;
    background-color: #d4d4d4;
    /* border-radius: 8px 0px 0px 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile{
    border: 0px;
    margin-left: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#logOff{
    
    margin-right: 20px;
    cursor: pointer;
    
}

.users-list{
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;
    height: 100%;
    background-color: #f2f2f2;
}

.user_div{
    height: 70px;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-shadow: 0px 15px 1px -15px #111;    
    cursor: pointer;
}

.user_img_container{
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.user_name{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.user_img{ 
    height: 45px;
    width: 45px;
    border-radius: 50%;
    
}

/* -----------SCROLLBAR----------------- */

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}