@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); /*font-family: 'Roboto', sans-serif; */
body{
    background-color: #91c1ff;
}
/*POPUP FORM--------------------------------------------*/
#popupform{
    position: absolute;
    display: none;
    background-color: white;
    width: 600px;
    height: 400px;
    margin-top: 240px;
    margin-left: 30px;  
    /* border: 1px solid #000000; */
    box-shadow: 0 0 10px #888888;
    font-family: 'Roboto', sans-serif;
}

#pfcontent{
    width: inherit;
    height: inherit;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

#options{
    height: 100%;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.switch{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    color: black;
}


#firstOp, #cancelbtn{
    grid-column: 1;
    cursor: pointer;
}

#secondOp, #submitbtn{
    grid-column: 2;
    cursor: pointer;
}

.form{
    margin-top: 75px;
    position: absolute;
    height: 270px;
    grid-row: 2;
}

#firstForm{
    /* background-color: blue; */
    display: block;
}

#secondForm{
    /* background-color: brown; */
    display: none;
}

#secondFormContent{
    height: 270px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#firstFormContent{
    height: 270px;
    width: 600px;
    display: grid;
    grid-template-columns:1fr 1fr;
}

.twoinput{
    margin: 40px;
}

.oneinput{
    margin: 30px;
}

#cancelsubmit{
    height: 100%;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#dpDiv{
    height: 150px;
    width: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#picUpload{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}   
#scFirstForm{
    height: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dp{
    max-width: 150px;
    max-height: 150px;
    
}

#file{
    margin-top: 20px;
}

#uploadBtn{
    margin-top: 10px;
    height: 30px;
    width: 80px;
    border-radius: 4px;
    border: 1px solid #000000;
}

/*CLOSE POPUP FORM--------------------------------------*/

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
    width: 1300px;
    height: 95%;
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 5fr;
    
    box-shadow: 5px 10px 18px #888888;
}

.chat-area{
    
    background-color: lavender;
    width: 100%;
    height: 100%;
    grid-column: 2 / span 1;
    /* border: 1px solid #666666; */
    /* border-radius: 0px 8px 8px 0px; */
}

/* SIDE PANE ---------------------------------------*/

.side-pane{
    
    /* border-radius: 8px 0px 0px 5px; */
    width: 100%;
    height: 100%;
    grid-column: 1 / span 1;
    /* border-left: 1px solid #666666;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666; */
    display: flex;
    flex-direction: column;
}

.side-pane-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    box-shadow: 0px 60px 60px -65px #111;
    z-index: 2;
    /* position: absolute; */
    height: 70px;
    width: inherit;
    background-color: #d4d4d4;
    /* border-radius: 8px 0px 0px 0px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#profile{
    border: 0px;
    margin-left: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#logOff{
    
    margin-right: 20px;
    cursor: pointer;
    
}

.users-list{
    z-index: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: inherit;
    height: 100%;
    background-color: #f2f2f2;
}